| Thank you for supporting "da Bomb"!
|
| This email is an update email and replaces any prior QR codes we have sent!
|
| Last week we sent out QR codes for pickups. We had
| a few reports that the QR codes could not be scanned or were
| invalid, so we are resending the QR codes again.
|
| If you placed multiple orders with us, you may get multiple
| emails with different quantities. We will sort all orders
| and get the proper quantities to you during pickup.
|
| Badge pickup happens soon at DEF CON 27!.
| In order to speed the pickup of your order, please present the
| attached QR code.
|
| Badge Pickups will happen between 11:00 AM and 3:00 PM on Thursday
| and Friday in the Hardware Hacking Village at Bally's.
|
| Look for the Bomb face logo and our blue boxes.
|
| We will post an exact location and more information when we get to the HHV
| on our Twitter. Additional locations will be announced there as well.
| @spqrbadge (https://twitter.com/spqrbadge)
|
|        Total Quantity Ordered: #{qty}
|        Total Amount: #{paid}
|
| Questions? Comments? Mail sales@retina.net
|
| -----
| Team Ides
| San Francisco, CA
| https://ides.team/
| https://twitter.com/spqrbadge/
